@media screen and (min-width: 0px) and (max-width: 600px) {
    .post-date {
        display: none;
    }
    .result-basic {
        text-align: center;
    }
    .org-name {
        padding-left: 0px;
    }
    #delete-button-1 {
        display: none;
    }
    .result-details > .result-delete-small-px {
        display: inline;
    }
}