.drop-arrow {
    margin-left: 10px;
    border: none;
}
.result-details {
    margin-top: 5px;
}
.detail-header {
    text-decoration: underline;
}
.delete-button {
    position: absolute;
    right: 10px;
}
@media screen and (min-width: 390px) {
    .post-date {
        display: hidden;
    }
}