.drop-arrow {
    margin-left: 10px;
    border: none;
}
.result-details {
    margin: 15px;
}
.detail-header {
    text-decoration: underline;
    font-weight: 600;
}
.delete-button {
    position: absolute;
    right: 10px;
}
@media screen and (min-width: 0px) and (max-width: 400px) {
    .post-date {
        display: none;
    }
}
